.file-explorer {
  resize: horizontal;
  min-width: 250px;
  height: 100vh;
  /* border: 1px solid black; */
  overflow: auto;
  background: #001233;
  color: white;
  max-width: 500px;
  position: relative;
}

.file-explorer__header {
    padding: 10px;
}

.file-explorer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.file-explorer ul li {
    width: 100%;
    text-align: left;
    padding: 2px;
    vertical-align: auto;
}

.file-explorer ul li:hover {
    cursor: pointer;
    background: #002855;
}
